<div>
    <h2>User Demographics</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-demographic.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new User Demographic
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="join_date"><span data-translate="theFitNationApp.userDemographic.join_date">Join Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_login"><span data-translate="theFitNationApp.userDemographic.last_login">Last Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="first_name"><span data-translate="theFitNationApp.userDemographic.first_name">First Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_name"><span data-translate="theFitNationApp.userDemographic.last_name">Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span>Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dob"><span>Dob</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="height"><span>Height</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="skill_level"><span data-translate="theFitNationApp.userDemographic.skill_level">Skill Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unit_of_measure"><span data-translate="theFitNationApp.userDemographic.unit_of_measure">Unit Of Measure</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="is_active"><span data-translate="theFitNationApp.userDemographic.is_active">Is Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workoutLog.id"><span>Workout Log</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="userDemographic in vm.userDemographics track by userDemographic.id">
                    <td><a ui-sref="user-demographic-detail({id:userDemographic.id})">{{userDemographic.id}}</a></td>
                    <td>{{userDemographic.join_date | date:'medium'}}</td>
                    <td>{{userDemographic.last_login | date:'medium'}}</td>
                    <td>{{userDemographic.first_name}}</td>
                    <td>{{userDemographic.last_name}}</td>
                    <td>{{userDemographic.gender}}</td>
                    <td>{{userDemographic.dob | date:'medium'}}</td>
                    <td>{{userDemographic.height}}</td>
                    <td data-translate="{{'theFitNationApp.SkillLevel.' + userDemographic.skill_level}}">{{userDemographic.skill_level}}</td>
                    <td data-translate="{{'theFitNationApp.UnitOfMeasure.' + userDemographic.unit_of_measure}}">{{userDemographic.unit_of_measure}}</td>
                    <td>{{userDemographic.is_active}}</td>
                    <td>
                        <a ui-sref="workout-log-detail({id:userDemographic.workoutLog.id})">{{userDemographic.workoutLog.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-demographic-detail({id:userDemographic.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-demographic.edit({id:userDemographic.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-demographic.delete({id:userDemographic.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
