
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserDemographicLabel">Create or edit a User Demographic</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userDemographic.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userDemographic.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.created_on" for="field_created_on">Created On</label>
                <div class="input-group">
                    <input id="field_created_on" type="text" class="form-control" name="created_on" datetime-picker="{{dateformat}}" ng-model="vm.userDemographic.created_on" is-open="vm.datePickerOpenStatus.created_on"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created_on')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.created_on.$invalid">
                <p class="help-block"
                    ng-show="editForm.created_on.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.created_on.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.last_login" for="field_last_login">Last Login</label>
                <div class="input-group">
                    <input id="field_last_login" type="text" class="form-control" name="last_login" datetime-picker="{{dateformat}}" ng-model="vm.userDemographic.last_login" is-open="vm.datePickerOpenStatus.last_login"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('last_login')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.last_login.$invalid">
                <p class="help-block"
                    ng-show="editForm.last_login.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.last_login.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.first_name" for="field_first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" id="field_first_name"
                    ng-model="vm.userDemographic.first_name"
                    required />
            <div ng-show="editForm.first_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.first_name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.last_name" for="field_last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" id="field_last_name"
                    ng-model="vm.userDemographic.last_name"
                    required />
            <div ng-show="editForm.last_name.$invalid">
                <p class="help-block"
                    ng-show="editForm.last_name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gender">Gender</label>
            <select class="form-control" name="gender" ng-model="vm.userDemographic.gender" id="field_gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dob">Dob</label>
                <div class="input-group">
                    <input id="field_dob" type="text" class="form-control" name="dob" datetime-picker="{{dateformat}}" ng-model="vm.userDemographic.dob" is-open="vm.datePickerOpenStatus.dob"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dob')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dob.$invalid">
                <p class="help-block"
                    ng-show="editForm.dob.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dob.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                    ng-model="vm.userDemographic.height"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.skill_level" for="field_skill_level">Skill Level</label>
            <select class="form-control" name="skill_level" ng-model="vm.userDemographic.skill_level" id="field_skill_level">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.unit_of_measure" for="field_unit_of_measure">Unit Of Measure</label>
            <select class="form-control" name="unit_of_measure" ng-model="vm.userDemographic.unit_of_measure" id="field_unit_of_measure" required>
                <option value="Imperial">Imperial</option>
                <option value="Metric">Metric</option>
            </select>
            <div ng-show="editForm.unit_of_measure.$invalid">
                <p class="help-block"
                    ng-show="editForm.unit_of_measure.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userDemographic.is_active" for="field_is_active">Is Active</label>
            <input type="checkbox" class="form-control" name="is_active" id="field_is_active"
                    ng-model="vm.userDemographic.is_active"
                     />
            <div ng-show="editForm.is_active.$invalid">
                <p class="help-block"
                    ng-show="editForm.is_active.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_workoutLog">Workout Log</label>
            <select class="form-control" id="field_workoutLog" name="workoutLog" ng-model="vm.userDemographic.workoutLog" ng-options="workoutLog as workoutLog.id for workoutLog in vm.workoutlogs | orderBy:'id' track by workoutLog.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
