
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExerciseInstanceSetLabel" data-translate="theFitNationApp.exerciseInstanceSet.home.createOrEditLabel">Create or edit a Exercise Instance Set</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.exerciseInstanceSet.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.exerciseInstanceSet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.exerciseInstanceSet.orderNumber" for="field_orderNumber">Order Number</label>
            <input type="number" class="form-control" name="orderNumber" id="field_orderNumber"
                    ng-model="vm.exerciseInstanceSet.orderNumber"
                    required min="1"/>
            <div ng-show="editForm.orderNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.orderNumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.orderNumber.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.orderNumber.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.exerciseInstanceSet.reqQuantity" for="field_reqQuantity">Req Quantity</label>
            <input type="number" class="form-control" name="reqQuantity" id="field_reqQuantity"
                    ng-model="vm.exerciseInstanceSet.reqQuantity"
                    required/>
            <div ng-show="editForm.reqQuantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.reqQuantity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.reqQuantity.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.exerciseInstanceSet.effortQuantity" for="field_effortQuantity">Effort Quantity</label>
            <input type="number" class="form-control" name="effortQuantity" id="field_effortQuantity"
                    ng-model="vm.exerciseInstanceSet.effortQuantity"
                    required/>
            <div ng-show="editForm.effortQuantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.effortQuantity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.effortQuantity.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.exerciseInstanceSet.restTime" for="field_restTime">Rest Time</label>
            <input type="number" class="form-control" name="restTime" id="field_restTime"
                    ng-model="vm.exerciseInstanceSet.restTime"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.exerciseInstanceSet.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.exerciseInstanceSet.notes"
                    />
        </div>

        <div class="form-group">
            <label data-translate="theFitNationApp.exerciseInstanceSet.exerciseInstance" for="field_exerciseInstance">Exercise Instance</label>
            <select class="form-control" id="field_exerciseInstance" name="exerciseInstance" ng-model="vm.exerciseInstanceSet.exerciseInstanceId" ng-options="exerciseInstance.id as exerciseInstance.id for exerciseInstance in vm.exerciseinstances"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.exerciseInstance.$invalid">
            <p class="help-block"
                ng-show="editForm.exerciseInstance.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
