<div>
    <h2>Workout Templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="workout-template.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Workout Template
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_on"><span data-translate="theFitNationApp.workoutTemplate.created_on">Created On</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="last_updated"><span data-translate="theFitNationApp.workoutTemplate.last_updated">Last Updated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="is_private"><span data-translate="theFitNationApp.workoutTemplate.is_private">Is Private</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userDemographic.last_name"><span>User Demographic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="workoutTemplate in vm.workoutTemplates track by workoutTemplate.id">
                    <td><a ui-sref="workout-template-detail({id:workoutTemplate.id})">{{workoutTemplate.id}}</a></td>
                    <td>{{workoutTemplate.name}}</td>
                    <td>{{workoutTemplate.created_on | date:'medium'}}</td>
                    <td>{{workoutTemplate.last_updated | date:'medium'}}</td>
                    <td>{{workoutTemplate.is_private}}</td>
                    <td>
                        <a ui-sref="user-demographic-detail({id:workoutTemplate.userDemographic.id})">{{workoutTemplate.userDemographic.last_name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="workout-template-detail({id:workoutTemplate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workout-template.edit({id:workoutTemplate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workout-template.delete({id:workoutTemplate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
