<div>
    <h2 data-translate="theFitNationApp.workoutTemplate.home.title">Workout Templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="workout-template.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="theFitNationApp.workoutTemplate.home.createLabel">
                        Create new Workout Template
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="theFitNationApp.workoutTemplate.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdOn"><span data-translate="theFitNationApp.workoutTemplate.createdOn">Created On</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdated"><span data-translate="theFitNationApp.workoutTemplate.lastUpdated">Last Updated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPrivate"><span data-translate="theFitNationApp.workoutTemplate.isPrivate">Is Private</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="theFitNationApp.workoutTemplate.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userDemographicId"><span data-translate="theFitNationApp.workoutTemplate.userDemographic">User Demographic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="skillLevelLevel"><span data-translate="theFitNationApp.workoutTemplate.skillLevel">Skill Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workoutTemplate in vm.workoutTemplates track by workoutTemplate.id">
                    <td><a ui-sref="workout-template-detail({id:workoutTemplate.id})">{{workoutTemplate.id}}</a></td>
                    <td>{{workoutTemplate.name}}</td>
                        <td>{{workoutTemplate.createdOn | date:'mediumDate'}}</td>
                        <td>{{workoutTemplate.lastUpdated | date:'mediumDate'}}</td>
                    <td>{{workoutTemplate.isPrivate}}</td>
                    <td>{{workoutTemplate.notes}}</td>
                    <td>
                        <a ui-sref="user-demographic-detail({id:workoutTemplate.userDemographicId})">{{workoutTemplate.userDemographicId}}</a>
                    </td>
                    <td>
                        <a ui-sref="skill-level-detail({id:workoutTemplate.skillLevelId})">{{workoutTemplate.skillLevelLevel}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="workout-template-detail({id:workoutTemplate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workout-template.edit({id:workoutTemplate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workout-template.delete({id:workoutTemplate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
