
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserWeightLabel" data-translate="theFitNationApp.userWeight.home.createOrEditLabel">Create or edit a User Weight</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userWeight.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userWeight.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userWeight.weightDate" for="field_weightDate">Weight Date</label>
                <div class="input-group">
                    <input id="field_weightDate" type="text" class="form-control" name="weightDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userWeight.weightDate" is-open="vm.datePickerOpenStatus.weightDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('weightDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.weightDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.weightDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="theFitNationApp.userWeight.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                    ng-model="vm.userWeight.weight"
                    required min="1"/>
            <div ng-show="editForm.weight.$invalid">
                <p class="help-block"
                    ng-show="editForm.weight.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.weight.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.weight.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="theFitNationApp.userWeight.userDemographic" for="field_userDemographic">User Demographic</label>
            <select class="form-control" id="field_userDemographic" name="userDemographic" ng-model="vm.userWeight.userDemographicId" ng-options="userDemographic.id as userDemographic.id for userDemographic in vm.userdemographics"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.userDemographic.$invalid">
            <p class="help-block"
                ng-show="editForm.userDemographic.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
